<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
     {{#if _sections.head}}
        {{{_sections.head}}}
     {{else}}
        <title>LuxeLane</title>
     {{/if}}
</head>
<body>
   <div class="row header">
   <div class="col logo mt-2 ms-5">
         <h2 class="text-primary">LuxeLane</h2>
      </div>
      <div class="col menu mt-2 ms-5 d-flex justify-content-center">
         <a href="/" class="btn mt-3 me-2 ms-5" role="button">Home</a>
         <a href="../about" class="btn mt-3 me-2" role="button">About</a>
         <a href="" class="btn mt-3 me-2" role="button">Services</a>
         <a href="" class="btn mt-3 me-2" role="button">Vehicles</a>
         <a href="../contact" class="btn mt-3 me-2" role="button">Contact</a>
      </div>
      {{#if user}}
      <div class="col login text-center d-flex ms-5">
            <a href="/users/profile" class="btn login text-primary border border-primary mt-3 me-2" role="button">Profile</a> 
      </div>
      {{else}}
      <div class="col login text-center d-flex ms-5">
            <a href="/users/login" class="btn login text-primary border border-primary mt-3 me-2" role="button">Log in</a>
            <a href="/users/sign-up" class="btn signup text-primary border border-primary mt-3 me-2" role="button">Sign Up</a>  
      </div>
      {{/if}}
   </div>
    {{{ body }}}
   <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>