<div class="container">
    <a href="/" class="link-offset-2 link-underline link-underline-opacity-0">Go to Home Page</a>
    <div class="col m-5">
        <a href="car-list" class="link-offset-2 link-underline link-underline-opacity-0"> <h2>Car List</h2> </a>
        <a href="car-add" class="link-offset-2 link-underline link-underline-opacity-0"> <h2>Car Add</h2> </a> 
    </div>
</div>