<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-10 col-md-10 m-5">
            <a href="/admin-cars" class=" link-underline link-underline-opacity-0"> <h2>Car List</h2> </a>
            <a href="/cars/create" class=" link-underline link-underline-opacity-0"> <h2>Car Add</h2> </a>
            <a href="/cars/brand" class="link-offset-2 link-underline link-underline-opacity-0"> <h2>Brand Add</h2> </a>
            <a href="/branch" class="link-offset-2 link-underline link-underline-opacity-0"> <h2>Branch List</h2> </a> 
        </div>
    </div>
</div>