<div class="container">
   <div>
    <a href="/admin-dashboard" class="link-offset-2 link-underline link-underline-opacity-0">Go to Dashboard</a>
   </div>   
    <div class="mt-2 h-100 d-flex align-items-center justify-content-center" >
      <form method="post" enctype="multipart/form-data">
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="brand" id="brand" placeholder="Brand"/>  
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="model" id="model" placeholder="Model"/>
            </div>
          </div>
        </div>
       <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="number" class="form-control" name="hp" id="hp" placeholder="Hp"/> 
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="number" class="form-control" name="seats" id="seats" placeholder="Seats"/>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="number" class="form-control" name="hourlyPrice" id="hourlyPrice" placeholder="Hourly Price"/>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="number" class="form-control" name="zeroToHundredKmh" id="zeroToHundredKmh" placeholder="Zero To Hundred Kmh"/>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="fuel" id="fuel" placeholder="Fuel"/>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="transmission" id="transmission" placeholder="Transmission"/>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="bodyType" id="bodyType" placeholder="Body Type"/>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="number" class="form-control" name="doors" id="doors" placeholder="Doors"/>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="number" class="form-control" name="minDriverAge" id="minDriverAge" placeholder="Min Driver Age"/>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="number" class="form-control" name="minLicenseAge" id="minLicenseAge" placeholder="Min License Age"/>
            </div>
          </div>
        </div>
        <div class="form-outline mb-4">
          <input type="file" class="form-control" name="uploaded_file" id="file" placeholder="File"/>
        </div>
        <button type="submit" class="btn-primary form-control mb-4 btn btn-info">Add Car</button> 
      </form>
    </div>
</div>