
      <a href="/admin-dashboard">Go to Dashboard</a>
    <form method="post" enctype="multipart/form-data">
        <h3>Brand</h3>
        <input type="text" name="brand" id="brand"/>
        <h3>Model</h3>
        <input type="text" name="model" id="model"/>
        <h3>Hp</h3>
        <input type="number" name="hp" id="hp"/>
        <h3>Seats</h3>
        <input type="number" name="seats" id="seats"/>
        <h3>HourlyPrice</h3>
        <input type="number" name="hourlyPrice" id="hourlyPrice"/>
        <h3>Thumbnail</h3>
        <input type="file" name="uploaded_file" id="file" />
         <h3>Fuel</h3>
        <input type="text" name="fuel" id="fuel"/>
         <h3>Transmission</h3>
        <input type="text" name="transmission" id="transmission"/>
         <h3>BodyType</h3>
        <input type="text" name="bodyType" id="bodyType"/>
         <h3>Doors</h3>
        <input type="number" name="doors" id="doors"/>
        <h3>minDriverAge</h3>
        <input type="number" name="minDriverAge" id="minDriverAge"/>
        <h3>minLicenseAge</h3>
        <input type="number" name="minLicenseAge" id="minLicenseAge"/>
        <h3>zeroToHundredKmh</h3>
        <input type="number" name="zeroToHundredKmh" id="zeroToHundredKmh"/>

        <button type="submit">Add Car</button>
    </form>