<div class="container">
    <a href="/" class="link-offset-2 link-underline link-underline-opacity-0">Go to Home Page</a>
    <div class="col mx-2">
        <h1>Contact</h1>
    </div>
    <div class="col mx-2">
        <h5>Address</h5>
    </div>
    <div class="col mx-2">
        <p>In Böden, 8046 Zürich, Switzerland</p>
    </div>
    <div class="col mx-2">
        <h5>Phone Number</h5>
    </div>
    <div class="col mx-2">
        <p>+41 887 63 45 </p>
    </div>     
</div>