
    <div>
        <span>
            <h1 style="display: inline;">LuxeLane</h1>
        </span>
        <span style="float:right">
            <a href="contact"><h3>Contact</h3></a>
        </span>
    </div>
    <a href="sign"> <h2>Sign in</h2> </a>
    <a href="login"> <h2>Login</h2> </a>
    <h2>About</h2>
    <p>At LuxeLane, we believe that every journey should be an unforgettable experience. We specialize in providing the epitome of luxury car rentals, ensuring that our clients not only reach their destinations but also indulge in a heightened sense of style, comfort, and elegance.</p>
    <a href="/about"> Read More </a>
    <h2>Our Cars</h2>
    
    {{#each cars}}
        <a href="cars/{{this.id}}"> <img height="200px" src="{{this.thumbnail}}"> </a>
    {{/each}}
    
