<div class="container" style="background-color: #738659;">
    <div class="row w-100 mt-5">
        <div class="col-4">
           <div class="row mb-3 mt-5 h-15">
                <div class="col">
                    <h2 class="text-light ">LuxeLane</h2>
                </div>
           </div>
           <div class="row mb-5 mt-5 h-25">
                <div class="col">
                    <h1 class="display-2 text-light fw-bold col-12">Luxury</h1>
                    <h1 class="display-2 text-light fw-bold col-12"> On The Go</h1>
                </div>
            </div>
           <div class="row w-100 mb-3 h-25">
            <div class="col">
                <button type="button" class="btn text-light rent_btn ms-4 mb-5 mt-3 " style="background-color:  #f16613;">
                    <h6>START RENTING</h6>
                </button>
            </div>
           </div>
           <div class="row mb-5">
                <div class="col-12">
                    <h6 class="ms-4 text-white">Our Brands</h6>
                </div>
                <div class="col-12 h-25  mb-5">
                    <img class="brands" src="./img/mercedeslogo.png" alt="">
                    <img class="brands" src="./img/Bentley-Logo.png" alt="">
                    <img class="brands" src="./img/Rolls-Royce-Logo.png" alt="">
                </div>
           </div>
        </div>
        <div class="col-4">
            <div class="row car_photo_background ms-4">
                <div class="col">
                    <img class="car_photo" src="./img/ferrari_photoo.png" alt="" >
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mt-5">
                <div class="col-8 menu_text">
                    <p class="float-end mt-3 text-white">MENU</p>
                </div>
                <div class="col-4">
                    <button class="menu_btn btn">
                        <img src="./img/menu_img.png" width="100%" height="100%" alt="">
                    </button>
                </div>       
            </div>
            <div class="row w-75 mt-5 ms-3 mb-5">
                <div class="col">
                    <p class="text-wrap exprience_text text-white">Exprience Peace of Mind with Our Customer Protection Services.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 ">
                    <h6 class="float-end text-light">Read JUSTINS</h6>    
                </div>
                <div class="col-12 mb-5">
                    <img class="float-end" width="30%" src="./img/mercedeslogo.png" alt=""> 
                </div>
            </div>
            <div class="row luxury_car_text ms-3">
                <div class="col">
                    <h2 class="display-6 text-light ">1.5k</h2>
                    <h6 class="text-wrap text-light ">LUXURY CARS AVALIABLE</h6>
                </div>
            </div>
        </div>
    </div>
</div> 


