<div class="row header">
    <div class="col logo mt-2 ms-5">
        <h2 class="text-primary">LuxeLane</h2>
    </div>
    <div class="col menu mt-2 ms-5 d-flex">
        <button class="me-4 btn">Home</button>
        <button class="me-4 btn">About</button>
        <button class="me-4 btn">Services</button>
        <button class="me-4 btn">Vehicles</button>
        <button class="btn">Contact</button>
    </div>
    <div class="col login text-center d-flex ms-5">
        <button class="login btn text-primary border border-primary mt-3 me-2">Log in</button>
        <button class="signup btn text-primary border border-primary mt-3">Sign Up</button>
    </div>
</div>
<div class="container background_space">
    <div class="row content mt-3">
        <div class="col-3"></div>
        <div class="col-6 car_content text-center justify-content-center">
            <div class="car_content_header">
                <p class="text-white">Drive with best experience</p>
            </div>
            <div class="mt-3">
                <h2 class="text-white display-4 fw-bold">Rent The Best Car</h2>
            </div>
            <div class="mt-5 car_photo justify-content-center">
                    <img  src="./img/mercedes_cls_photo.png" width="100%" height="100%" alt="">
            </div>
            <div class="car_content_p justify-content-center">
                <p class="text-white text-wrap car_content_footer ">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis enim vellit mollit.
                </p>
            </div>         
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row date mt-5">
        <div class="col-1 me-5 p-0"></div>
        <div class="col-10 date_content d-flex text-center justify-content-center p-2 bg-white  rounded rounded-5">
                <div class="col-3 border-end border-dark ">
                        <button class="btn date_btn d-flex justify-content-center text-center ms-3 mt-3">
                            <img src="./img/date_to_24.png" alt="">
                            <p class="ms-2">Choose a location</p>
                        </button>
                        <p class="w-75 ms-4">Madrid, Spain</p>

                </div>
                <div class="col-3 border-end border-dark ">   
                        <button class="btn date_btn d-flex mt-2 justify-content-center text-center  ms-4 mt-3">
                            <img src="./img/date_to_24.png" alt="">
                            <p class="ms-2">Pick-up date</p>
                        </button>
                        <p class="w-75 ms-3">Jul 08, 10.00AM</p>
                </div>
                <div class="col-3 ">
                        <button class="btn  date_btn d-flex justify-content-center text-center ms-4 mt-3">
                            <img src="./img/date_to_24.png" alt="">
                            <p class="ms-2">Return date</p>
                        </button>
                        <p class="w-75 ms-3">Jul 15, 12.00AM</p>
                </div>
                <div class="col-3 search_content justify-content-center text-center d-flex ">
                        <button class="btn search_btn d-flex justify-content-center">
                            <img src="./img/search_photo.png" width="24px" height="24px" alt="">
                             <p class="text-white ms-1">Search</p>
                            </button>
                </div>                       
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row justify-content-center text-center question">
        <div class="col-6">
            <div>
                <p class="text-primary">What we Serve</p>
                <h2 class="display-6 fw-bold">Why Choose Rento</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center rental_detail mb-5">
        <div class="col-3 safety_first me-5 text-wrap mb-5">
            <div class="safety_first_text">
                <img class="rounded-circle border border-primary p-4 mb-3" src="./img/car-4-24.png" alt="">
                <h5 class="fw-bold">Safety First</h5>
                <p class="mt-3"> 
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.
                </p>
            </div>
        </div>
        <div class="col-3 ms-5 text-wrap">
            <div class="fast_easy_booking justify-content-center text-center mb-5">
                <img class="rounded-circle border border-primary p-4 mb-3" src="./img/speedometer-24.png" alt="">
                <h5 class="fw-bold">Fast Easy Booking</h5>
                <p class="mt-3"> 
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.
                </p>
            </div>
        </div>
        <div class="col-3 ms-5">
            <div class="many_pickup_location mb-5">
                <img class="rounded-circle border border-primary p-4 mb-3" src="./img/car-4-24.png" alt="">
                <h5 class="fw-bold">Many Pickup Location</h5>
                <p class="mt-3"> 
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.
                </p>
            </div>
        </div>
    </div>
    <div class="row  bg-white experience">
        <div class="col exprience_content">
            <img class="rounded-4 me-5 exprience_photo" src="./img/car_safari_photo.png" alt="">
        </div>
        <div class="col exprience_content">
            <div>
                <p class="text-primary mt-5 mb-5">Learn about us</p>
                <h2 class="display-6 fw-bold w-75">Best Experience of Traveling</h2>
                <p class="w-75  mt-5 mb-5">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.Amet minim mollit non deserunt
                </p>
                <button class="btn bg-primary text-white  experience_btn p-2">Learn More</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center car_dentals_title">
        <div class="col-12">
            <p>Explore out cars you might like!</p>
            <h2 class="display-6 fw-bold">Car Rental Deals</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 car_type justify-content-center text-center d-flex">
             <button class="me-5 btn bg-primary p-2 text-white">Luxury</button>
            <button class="me-5 btn p-2">Business</button>
            <button class="me-5 btn p-2">Sprinter</button>
            <button class="me-5 btn p-2">Wedding</button>
            <button class="btn p-2">Family</button>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col"></div>
        <div class="col-3 bg-white me-5 car_card">
            <div class="d-flex mt-4">
                <h6>Mercedes Cls 63</h6>
                <img src="./img/save_icon.png" class="save_icon" alt="">              
            </div>
            <div class="mt-1">
                <img src="./img/mercedes_cls_photo_card.png" class="w-100 mb-4" alt="">
                <h6>$200/day</h6>
                <p>25</p>
            </div>
            <div class="d-flex  flex-wrap">
                <div class="mb-3">
                    <div class="d-flex me-5 mb-2">
                        <img src="./img/user-6-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">Seats</p>
                    </div>
                    <div  class="d-flex  mb-2">
                        <img src="./img/gear_shift-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">Auto</p>
                    </div>
                </div>
               <div class="mb-3">
                    <div  class="d-flex me-5 mb-2">
                        <img src="./img/ac-25-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">AC</p>
                    </div>
                    <div class="d-flex mb-2">
                        <img src="./img/fuel-2-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">Petrol</p>
                    </div>
               </div>  
            </div>
            <button class="btn bg-primary text-white w-100 mb-3">Rent a Car</button>
        </div>
        <div class="col-3 bg-white  me-5 car_card">
            <div class="d-flex mt-4">
                <h6>Rolly Royce</h6>
                <img src="./img/save_icon.png" class=" save_icon " alt="">
            </div>
            <div class="mt-1">
                <img src="./img/rollsroyce_car_photo.png" class="w-100 mb-4" alt="">
                <h6>$200/day</h6>
                <p>25</p>
            </div>
            <div class="d-flex  flex-wrap">
                <div class="mb-3">
                    <div class="d-flex me-5 mb-2">
                        <img src="./img/user-6-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">Seats</p>
                    </div>
                    <div  class="d-flex  mb-2">
                        <img src="./img/gear_shift-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">Auto</p>
                    </div>
                </div>
               <div class="mb-3">
                    <div  class="d-flex me-5 mb-2">
                        <img src="./img/ac-25-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">AC</p>
                    </div>
                    <div class="d-flex mb-2">
                        <img src="./img/fuel-2-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">Petrol</p>
                    </div>
               </div>  
            </div>
            <button class="btn bg-primary text-white w-100 mb-3">Rent a Car</button>
        </div>
        <div class="col-3 bg-white car_card">
            <div class="d-flex mt-4">
                <h6>Lamborghini Huracan</h6>
                <img src="./img/save_icon.png" class="save_icon" alt="">
            </div>
            <div class="mt-1">
                <img src="./img/lamborghini_car_photo.png"  class="w-100 mb-4" alt="">
                <h6>$200/day</h6>
                <p>25</p>
            </div>
            <div class="d-flex  flex-wrap">
                <div class="mb-3">
                    <div class="d-flex me-5 mb-2">
                        <img src="./img/user-6-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">Seats</p>
                    </div>
                    <div  class="d-flex  mb-2">
                        <img src="./img/gear_shift-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">Auto</p>
                    </div>
                </div>
               <div class="mb-3">
                    <div  class="d-flex me-5 mb-2">
                        <img src="./img/ac-25-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">AC</p>
                    </div>
                    <div class="d-flex mb-2">
                        <img src="./img/fuel-2-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">Petrol</p>
                    </div>
               </div>  
            </div>
            <button class="btn bg-primary text-white w-100 mb-3">Rent a Car</button>
        </div>
        <div class="col"></div>
    </div>
    <div class="row car_logo p-5">
        <div class="col">
            <img src="./img/rollsroyce_logo.png" class="car_logo_photo" alt="">
        </div>
        <div class="col">
            <img src="./img/ferrari_logo.png" class="car_logo_photo bg-opacity-25" alt="">
        </div>
        <div class="col">
            <img src="./img/mercedesbenz_logo.png" class="car_logo_photo" alt="">
        </div>
        <div class="col">
            <img src="./img/lamborghini_logo.png" class="car_logo_photo" alt="">
        </div>
        <div class="col">
            <img src="./img/audi_logo.png" class="car_logo_photo" alt="">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center justify-content-center">
            <p class="text-primary">Exlore out cars you might like!</p>
            <h2 class="display-6 fw-bold">Latest Added</h2>
        </div>
    </div>
    <div class="row large_car_card text-center justify-content-center ">
        <div class="col-4 text-center justify-content-center large_car_card_content bg-white">
            <h4 class=" fw-bold mt-5">Mercedes E-class</h4>
            <p>$200/day</p>
            <img src="./img/mercedes_cls_photo.png" class="large_car_card_photo" alt="">
            <div class="large_car_card_property d-flex text-center justify-content-center mb-5 ms-3">
                    <img src="./img/user-6-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                    <p class="mt-2 me-3">Seats</p>     
                    <img src="./img/gear_shift-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                    <p class="mt-2 me-3">Auto</p>
                    <img src="./img/ac-25-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                    <p class="mt-2 me-3">AC</p>
                    <img src="./img/fuel-2-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                    <p class="mt-2 me-3">Petrol</p>
            </div>
            <button class="btn bg-primary text-white large_car_card_btn mb-3">Rent a Car</button>
        </div>     
    </div>
    <div class="row bg-white text-center justify-content-center ">
        <div class="col-12 explore_cities justify-content-center  text-center text-wrap ">
            <p class="text-primary mt-5">Explore by Cities</p>
            <h2 class="display-6 fw-bold mb-3">Find a Car By City</h2>
            <p class="explore_cities_content mb-5">Amet minim mollit non deserunt ullamco est sit aliqua dolar
            dp aöet sint.Velit officia consequat duis enim velit mollit. 
            </p>
        </div>
    </div>
</div>