
 
  <div class="container">
     <a href="/" class="link-offset-2 link-underline link-underline-opacity-0">Go to Home Page</a>
        <form class="col text-center m-10 ">
          <div class="form-group m-3">
            <h4 class="font-weight-normal">E-Mail</h4>
            <input type="email"/>
          </div>
          <div class="form-group m-3">
              <h4 class="font-weight-normal">Password</h4>
            <input type="password"/>
          </div>
          <div class="form-group m-3">
            <button class="btn btn-outline-primary m-3">Login</button>  
          </div>       
        </form>

  </div>

