<div class="container">
  <a href="/" class="link-offset-2 link-underline link-underline-opacity-0">Go to Home Page</a> 
    <div class="d-flex flex-row bd-highlight align-items-center justify-content-center  ">
        <div class="m-5 pb-1 bd-highlight ">
          <a href="./login" class="link-offset-2 link-underline link-underline-opacity-0" >
          <h4 class="text-danger">Login</h4>
          </a>
        </div>
        <div class="m-5 pb-1 bd-highlight">
            <a href="./sign" class="link-offset-2 link-underline link-underline-opacity-0" >
            <h4 >Sign</h4>
            </a>
        </div>
      </div>
      <div class="mt-2 h-100 d-flex align-items-center justify-content-center">   
        <form>
          <div class="form-outline mb-4">
            <input type="email"  class="form-control" placeholder="Email or username" required/>
          </div>
          <div class="form-outline mb-4">
            <input type="password"  class="form-control" placeholder="Password" required/>
          </div>
          <div class="form-outline mb-4">
              <button type="submit" class="form-control btn btn-info">Login</button>
          </div>   
      </form>
    </div>
</div>

