
      <a href="/">Go to Home Page</a>
    <form>
        <h3>Name</h3>
        <input type="text"/>
        <h3>LastName</h3>
        <input type="text"/>
        <h3>E-Mail</h3>
        <input type="email"/>
        <h3>Password</h3>
        <input/>
        <h3>Tc or Passport</h3>
        <input type="text"/>
        <h3>Phone</h3>
        <input type="number"/>

        <button>Sign in</button>
    </form>
