<div class="container">
   <a href="/" class="link-offset-2 link-underline link-underline-opacity-0">Go to Home Page</a> 
    <div class="d-flex flex-row bd-highlight align-items-center justify-content-center  ">
        <div class="m-5 pb-1 bd-highlight ">
            <a href="./login" class="link-offset-2 link-underline link-underline-opacity-0" >
            <h4>Login</h4>
            </a>
        </div>
        <div class="m-5 pb-1 bd-highlight">
            <a href="./sign" class="link-offset-2 link-underline link-underline-opacity-0" >
            <h4 class="text-danger">Sign</h4>
            </a>
        </div>
    </div>
    <div class="mt-2 h-100 d-flex align-items-center justify-content-center" >
      <form>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form3Example1" class="form-control" placeholder="First name" />
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form3Example2" class="form-control"  placeholder="Last name" />
            </div>
          </div>
        </div>
        <div class="form-outline mb-4">
          <input type="email" id="form3Example3" class="form-control" placeholder="Email address" />
        </div>
        <div class="form-outline mb-4">
          <input type="password" id="form3Example4" class="form-control" placeholder="Password" />
        </div>
        <div class="form-outline mb-4">
          <input type="text" id="form3Example5" class="form-control" placeholder="Tc or Passport" />
        </div>
        <div class="form-outline mb-4">
          <input type="Phone" id="form3Example6" class="form-control" placeholder="Phone" />
        </div>
        <button type="submit" class="btn-primary form-control mb-4 btn btn-info">Sign up</button> 
      </form>
    </div>
</div>
