<div class="container background_space">
    <div class="row justify-content-center mt-5 d-flex">
        <div class="col-3 bg-white me-5 car_card mb-5 mt-5 flex-wrap">
            <form method="post">
            <div class="d-flex flex-wrap">
                <div class="mb-3 w-100">
                    <div class="d-flex me-5 mb-2 mt-5 w-100">
                        <img src="/img/user-6-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">{{name}}</p>
                    </div>
                    <div  class="d-flex mb-2 w-100">
                        <img src="/img/location-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">{{address}}</p>
                    </div>
                    <div  class="d-flex mb-2 w-100">
                        <img src="/img/phone-68-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">{{phone}}</p>
                    </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>
   
   